<!DOCTYPE html>
<html>
<head lang="en">

    <script src="libs/socket.io.js"></script>
    <script src="libs/lodash.js" ></script>
    <script src="libs/angular.js"></script>

    <script src="libs/socket.js"></script>
    <script src="app.js" ></script>

    <script src="lobbyCtrl.js"></script>
    <script src="lobbyModel.js"></script>
    <script src="lobbySocket.js"></script>

    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="main">
    <div ng-controller="lobbyController">
        <input type="text" ng-model="lobby.playerName" value="Player"/>
        <input type="button" ng-click="lobby.createGame(lobby.playerName)" value="Create Game">
        <div>
            <p>Open games</p>
            <table>
                <tr ng-repeat="_game in lobby.games">
                    <td>
                        {{_game.hostname}}
                    </td>
                    <td>
                        <input type="button" ng-click="lobby.joinGame(_game.id)" value="Join Game">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>