.game-container {
    display: flex;
    flex-direction: row;
    height: 96vh;
}

.game-left-panel {
    border: 1px solid black;
    flex: 3 3 auto;
}

.game-right-panel {
    border: 1px solid black;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.game-right-panel-item {
    border: 1px solid black;
    max-height: 24vh;
    flex: 1 1 auto;
}

.game-log {
    max-height: 24vh;
    overflow-y: auto;
}