<div ng-controller="lobbyController">
    <input type="text" ng-model="lobby.playerName" value="Player"/>
    <input type="button" ng-click="lobby.connect(lobby.playerName)" value="Connect">
    <input type="button" ng-click="lobby.createGame()" value="Create Game">
    <div>
        <p>Open games</p>
        <table>
            <tr ng-repeat="_game in lobby.games">
                <td ng-repeat="_player in _game.players">
                    {{_player}}
                </td>
                <td>
                    <input type="button" ng-click="lobby.joinGame(_game.id)" value="Join Game">
                </td>
                <td>
                    <input type="button" ng-click="lobby.startGame(_game.id)" value="Start Game">
                </td>
            </tr>
        </table>
    </div>
    <div>
        <p>Players</p>
        <p ng-repeat="_player in lobby.players">id: {{_player.id}} name: {{_player.name}}</p>
    </div>
</div>